
<!-- Section 2 Grafico -->
<!-- Una breve descripción de proyecto a la izquierda -->
<!-- Grafico actualizado segun el filtro usado por usuario a la derecha (script ajax)-->

<section class="bg-teal-600 text-white py-12" id="about">
  <div class="container mx-auto px-4">

    <!-- Titulo -->
    <h1 class="text-6xl font-bold masthead-heading uppercase scale-y-90 text-center mb-6">Grafico</h1>

    <!-- Logo estrella -->
    <div class="flex items-center justify-center space-x-4 mb-10">
      <div class="w-1/6 border-t-4 border-white"></div>
      <div class="text-xl text-white">
        <i class="fas fa-star"></i>
      </div>
      <div class="w-1/6 border-t-4 border-white"></div>
    </div>

    <!-- Contenido -->
    <div class="grid grid-cols-2 lg:grid-cols-2 gap-8 max-w-4xl mx-auto text-lg text-center">
      <p>
        Se realiza una conexión con la API de Pokémon y se utilizan filtros AJAX para realizar búsquedas dinámicas. El proyecto fue desarrollado con Django, gestionando eficientemente las operaciones CRUD e integrando un sistema de autenticación con superusuario para la administración de usuarios
        <br> <br>
        La solución está enfocada en mejorar la experiencia de usuario, proporcionando una página sin recarga, y separando el código reutilizable en diferentes carpetas para una mejor organización.      </p>
          <div class="max-w-md mx-auto">
  
          <!-- Grafico (typechart (charts.js))-->
            <h2 class="text-xl font-bold text-center mb-4">Distribución de Tipos</h2>
            <canvas id="typeChart"></canvas>
          </div>
        
        
    </div>
</div>
  
</section>





