{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Metropolis:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'core/style.css' %}">

    <!-- Scripts -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'core/js/modals.js' %}"></script>
</head>
<body>

    <!-- Navbar -->
    {% include 'partials/navbar.html' %}

    <!-- Header -->
    {% include 'partials/header.html' %}

    <!-- Contenido -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    {% include 'partials/footer.html' %}

    <!-- Modal Login si el usuario no está autenticado -->
    {% include 'partials/login.html' %}

</body>
</html>