/* Fuentes de letra */

.font-metropolis {
    font-family: 'Metropolis', sans-serif;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

