<section class="py-16 bg-white" id="contact">
  <div class="max-w-3xl mx-auto px-6">
    <!-- Titutlo -->
    <h2 class="text-6xl font-bold text-center text-gray-800 uppercase mb-6">Agregar Pokémon</h2>

    <!-- Iconos  -->
    <div class="flex items-center justify-center mb-10">
      <div class="w-16 h-px bg-gray-400"></div>
      <div class="mx-4 text-gray-500 text-xl"><i class="fas fa-star"></i></div>
      <div class="w-16 h-px bg-gray-400"></div>
    </div>

    <!-- Form -->
    <form id="addPokemonForm" action="{% url 'add_pokemon' %}" method="post" class="space-y-6" onsubmit="return handleFormSubmit(this)">
      {% csrf_token %}

      <!-- Nombre de Pokemon -->
      <div>
        <label for="name" class="block text-sm font-medium text-gray-700">Nombre del Pokémon</label>
        <input type="text" id="name" name="name" placeholder="Nombre del Pokémon" class="mt-1 w-full px-5 py-3 text-lg rounded-md border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-teal-500 focus:border-teal-500" required />
      </div>

      <!-- Tipo de Pokemon -->
      <div>
        <label for="type" class="block text-sm font-medium text-gray-700">Tipo</label>
        <input type="text" id="type" name="type" placeholder="Tipo del Pokémon" class="mt-1 w-full px-5 py-3 text-lg rounded-md border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-teal-500 focus:border-teal-500" required />
      </div>

      <!-- Imagen (URL) -->
      <div>
        <label for="image" class="block text-sm font-medium text-gray-700">Imagen (URL)</label>
        <input type="text" id="image" name="image" placeholder="URL de la imagen" class="mt-1 w-full px-5 py-3 text-lg rounded-md border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-teal-500 focus:border-teal-500" required />
      </div>

      <!-- Submit -->
      <div class="text-center">
        <button type="submit" class="px-6 py-3 bg-teal-600 text-white font-semibold rounded-md hover:bg-teal-700 transition-all duration-300">Guardar Pokémon</button>
      </div>

    </form>
  </div>
</section>