
<!-- Footer-->

<footer class="bg-gray-800 text-white text-center py-12">
    <div class="max-w-6xl mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-sm">
        
        <!-- Location -->
        <div>
          <h4 class="text-lg uppercase mb-4 font-semibold">ACERCA </h4>
          <p class="leading-relaxed">
            Proyecto realizado para Prueba Tecnica
            <br />
            Postulante: Byron Becerra Aravena
          </p>
        </div>
  
        <!-- Social Icons -->
        <div>
          <h4 class="text-lg uppercase mb-4 font-semibold">Icono (no funcional) </h4>
          <div class="flex justify-center gap-3">
            <a href="#!" class="text-white border border-white rounded-full p-2 hover:bg-white hover:text-gray-800 transition">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#!" class="text-white border border-white rounded-full p-2 hover:bg-white hover:text-gray-800 transition">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#!" class="text-white border border-white rounded-full p-2 hover:bg-white hover:text-gray-800 transition">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="#!" class="text-white border border-white rounded-full p-2 hover:bg-white hover:text-gray-800 transition">
              <i class="fab fa-dribbble"></i>
            </a>
          </div>
        </div>
  
        <!-- About -->
        <div>
          <h4 class="text-lg uppercase mb-4 font-semibold">Funcionamiento</h4>
          <p class="leading-relaxed">
            Inicia sesión con tu cuenta registrada.
          </p>
          <p>                     
            A continuación, selecciona la pestaña "Pokémon" para acceder a la Pokemon API. 
            <p/>
        </div>
  
      </div>
    </div>
  </footer>